.navhoverdiv {
position: relative;
}
.navhoverdiv:hover .navoverlay {
opacity: 1;
transform: scale(1.2);
}

.navoverlay {
display: block;
position: absolute;
text-align: center;
opacity: 0;
transition: .5s ease;
pointer-events: none;
}
