.openbutton {
  display: table;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background: black;
  color: white;
  border: none;
  border-radius: 10px;
}

.openbutton:hover {
  box-shadow: inset 0 0 100px 100px #444d56;
}
